@import "../Variables.scss";

// .background {
//   background-color: $textColor3;
// }
.container-img-actionLines {
  flex-wrap: nowrap;
  height: auto;
  margin-right: 71px;
  margin-left: 71px;
  color: $textColor3;
  display: flex;
  justify-content: space-between;

}

.img-actionLines {
  width: 20vw;
  height: 54vh;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.name-actionLine {
  font-size: 1.2rem;
  color: $textColor3;

  margin-left: 5%;
  font-weight: 600;
  width: 15vw;
  line-height: 27pt;
  letter-spacing: -0.015em;
}

@media screen and (max-width: 768px) {
  .container-img-actionLines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    width: 70vw;
    margin-right: 50%;
    margin-left: 19%;
    color: $textColor1;
    margin-top: -90px;
  }

  .img-actionLines {
    width: 68vw;
    margin-left: -2%;
    display: inline-block;
  }
  .img-responsive {
    width: 92%;
    height: 84%;
  }

  .name-actionLine {
    font-size: 1rem;
    color: #ffffff;
    margin-top: -40%;
    margin-left: 5%;
    font-weight: 600;
    width: 49vw;
    line-height: 23pt;
    letter-spacing: 0.04em;
  }
}
