@import "../Variables.scss";

.containerBecome {
  width: 100vw;
  height: auto;
  margin-top: 1250px;
  display: flex;
  flex-direction: column;
}

.container-titleSection {
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
.content-text {
  text-align: center;
  margin: 0 23% 5% 23%;
  font-size: 1.4rem;
  line-height: 36pt;
}

.title-becamePart {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 72px;
  color: #333333;
  width: 100%;
}

.container-parent-img {
  width: 100%;
}

.container-section-img-text {
  text-align: center;
  width: auto;
}
.title-section-img-text {
  padding-top: 10%;
  padding-bottom: 20%;
  font-size: 1rem;
}

.section {
  display: flex;
  flex-wrap: nowrap;
}

//imagenes y texto y boton
.section-img-text {
  display: inline-block;
  width: 14vw;
  color: $textColor1;
  width: 14vw;
  color: #333333;


  text-align: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

.img-section {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  image-rendering: -webkit-optimize-contrast;
}

.button-becamePart {
  width: 67%;
  height: 37px;
  background-color: $textColor3;
  border: 1px solid $textColor;
  border-radius: 5px;
  font-weight: 185px;

  color: $textColor5;
  font-weight: 500;
  font-size: 0.8rem;
}

// contenedor de imagenes
.container-section-imgText {
  width: 100vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.container-content-section-img-text {
  text-align: center;
  width: 14vw;
  height: 90px;
}
.content-section-img-text {
  font-size: 0.7rem;
  padding-bottom: 19%;
}

@media screen and (max-width: 768px) {
  .section-img-text {
    display: flex;
    flex-direction: column;
    width: 57vw;
    padding-bottom: 8%;
    margin-left: 17.8vh;
    color: #333333;
    float: left;
  }

  .content-section-img-text {
    width: 146%;
    margin-left: -62px;
    width: 68vw;
    margin-left: -9%;
    padding-bottom: 19%;
    margin-top: -13%;
    padding-right: 33%;
  }
  .button-becamePart {
    margin-bottom: 10%;
    margin-left: 0%;
  }
}
