@import "../Variables.scss";

.container-titleSection {
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.content-text {
  text-align: center;
  margin: 0 23% 0 23%;
  font-size: 1.4rem;
  line-height: 36pt;
  padding-bottom: 6%;
}

.content-section-img-text {
  text-align: center;
  width: 146%;
  margin-left: -62px;
  font-size: 0.7rem;
  padding-right: 24%;
  width: 17vw;
  height: 10vh;
  margin-left: -9%;
  padding-bottom: 19%;
  margin-top: -3%;
}
.title-becamePart {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 72px;
  color: #333333;
  width: 100%;
  margin-top: -3%;
}

.container-parent-img {
  width: 100%;
}

.title-section-img-text {
  padding-top: 10%;
  padding-bottom: 20%;
  text-align: center;
  margin-left: -24%;
  font-size: 1rem;
}

.section {
  display: flex;
  flex-wrap: nowrap;
}

.section-img-text {
  display: inline-block;
  flex-wrap: nowrap;
  width: 14vw;
  padding-bottom: 8%;
  margin-left: 11.8vh;
  color: $textColor1;
  float: left;
}

.img-section {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  image-rendering: -webkit-optimize-contrast;
}

.button-becamePart {
  width: 67%;
  height: 37px;
  background-color: $textColor3;
  border: 1px solid $textColor;
  border-radius: 5px;
  font-weight: 185px;
  margin-left: 7%;
  color: $textColor5;
  font-weight: 500;
  font-size: 0.8rem;
  float: left;
}
