@import "../Variables.scss";

.dropdown-menu {
  flex-direction: column;
  width: 35vh;
  margin-left: 50%;
  //position: absolute;
  top: 71%;
  left: 13%;
  position: absolute;
  text-align: start;
  font-size: 0.9rem;
  border: none;
  line-height: 2;
  font-weight: 400;
  background-color: hotpink;;
}

.dropdown-menu li {
  background: #fff;
  color: $textColor4;
  cursor: pointer;
}
.dropdown-menu li:hover {
  color: $textColor5;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
 /// display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  //padding: 16px;
}
