@import "../Variables.scss";
.fatherFooter{
  width: 100vw;
  height: auto;
  bottom: 0;

}

.main-footer {
  background-color: $textColor1;
  color: $textColor3;
  padding-top: 3rem;
  // position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  height: 280px;
  margin-bottom: 5vh;
 
  flex-direction: row;
}
.container-footer {
  display: flex;
  flex-direction: row;
   width: 80%;
   margin-left: 7vw;
   height: 200px;
}
.title-footer {
  font-weight: 600;
  font-size: 0.9rem;
}

.title-footer-questions {
  font-size: 0.9rem;
  font-weight: 600;
}
.list {
  font-weight: 100;
  list-style: none;
  font-size: 13px;
  line-height: 2;
}
.develop{
  width: 100vw;
  text-align: center ;
  position: absolute;
  background-color: $textColor1;   
  height: 70px;
  padding-top: 3vh;
}
.develop p {

  font-size: 0.8rem;
  color: $textColor3;


}
.col-info-questions {
  width: 21vw;
}
.RRSS-footer {
 width: 100vw;
}

.links {
  color: $textColor3;
}

@media screen and (max-width: 768px) {
  .col {
    display: none;
  }
  .container-footer {
    width: 70%;
    justify-content: center;
  }
  .title-footer-questions {
    font-size: 0.9rem;
    font-weight: 600;
    width: 50vw;
    text-align: center;
  }
  .list {
    font-weight: 100;
    width: 50vw;
    text-align: center;
    list-style: none;
    font-size: 13px;
    line-height: 2;
  }
  .container-logo-footer {
    width: 28vw;
    margin-top: -3vh;
  }
  .imgLogoFooter {
    margin-top: 22vh;
    margin-left: 20vh;
  }
  .col-info-questions {
    width: 100%;
  }
  .col-info {
    width:100vw;
    font-size: 0.6rem;
    text-align: center;
    margin-left: 30%;
    background-color: #333333;
    color: #ffffff;
    padding-top: 6%;
    margin-top: 29vh;
    margin-left: -5vh;
  }
}
