@import "../Variables.scss";

.main-footer {
  background-color: $textColor1;
  color: $textColor3;
  padding-top: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 66vh;
}
.container-footer{
    padding-left: 2%;
}
.title-footer {
  font-weight: 600;
  font-size: 0.9rem;
}

.title-footer-questions {
  font-size: 0.9rem;
  font-weight: 600;
}
.list {
  font-weight: 100;
  list-style: none;
  font-size: 13px;
  line-height: 2;
}

.col-info {
  width: 22vw;
  font-size: 0.8rem;
  text-align: center;
  margin-left: 30%;
  background-color: $textColor1;
  color: $textColor3;
  padding-top: 5%;
}
.col-info-questions{
   width: 21vw; 
}
.RRSS-footer {
   margin-top: -11%; 
}

.links {
   color: $textColor3;
}