@import "../Variables.scss";

.more {
  text-decoration: none;
  color: $textColor5;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  margin-left:4%; 
  margin-left: 8%;

}
