@import '../Variables.scss'; 

// estilo logo
.container-logo{
    width: 4.3vw;
    margin-top: 1.7vh;
    margin-left: 3vh;
    
}

.imgLogo {
    width:100%; 
   
}

@media (max-width:769px){
    .container-logo{
        width: 10vw;
       
        
    }

   

}