@import '../Variables.scss';

.container-principal-news{
    display: flex;
    flex-direction: rowe; 
    width: 99vw;
    justify-content: space-evenly;
    background-color: $textColor7;
       
}

/*.container-general{
    margin-left: 1%;
    margin-right: 0%;
    background-color: #FFF;
    width: 21vw; 
   
}

.img-news{ 
    display: inline-block;
    width: 21.5vw;
    height: 42vh;
    margin-top: -187px;
    padding-right: 0%;
    margin-left: -5px;
    justify-content: space-between;
    
}

.content-news-description{
    font-size: 0.8rem;
    line-height: 21pt;
    text-align: left;
    width: 18vw;
    margin-left: 2%;

}

.content-news{
    text-align: left;
    margin-left: 2%;
    font-size: 1.7em;
    width: 100%;
    font-weight: 500;
    line-height: 27pt;

}

.box-text-news{
    width: 21.3vw;
    text-align: left;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: $textColor1; 
}*/
