@import "../Variables.scss";

.container-img-news {
  flex-wrap: nowrap;
  height: 70vh;
  margin-right: 71px;
  margin-left: 71px;
  color: $textColor1;
  display: flex;
  justify-content: space-between;
  margin-top: -562px;
}
.img-news {
  width: 20vw;
  height: 45vh;
  margin-top: -106px;
}

.title-text-news {
  font-size: 1.1rem;
  color:$textColor1;
  margin-left: 2%;
  font-weight: 700;
  width: 17vw;
  padding: 4%;
  line-height: 22pt;
}
.content-text-news1 {
  width: 14vw;
  text-align: left;
  font-weight: 100;
  margin-left: -14%;
  font-size: 0.8rem;
  line-height: 17pt;
  padding-bottom: 0;
  color: $textColor;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 3%;
  margin-bottom: 9%;
  margin-top: -7%;
  margin-left: 4%;
}

.content-text-news2 {
  width: 14vw;
  text-align: left;
  font-weight: 100;
  margin-left: -14%;
  font-size: 0.8rem;
  line-height: 17pt;
  padding-bottom: 0;
  color: $textColor;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 3%;
  margin-top: -7%;
  margin-left: 4%;
}
.background-news {
  background-color: $textColor3;
  height: 43vh;
}
/*.container-principal-news{
    display: flex;
    flex-direction: rowe; 
    width: 99vw;
    justify-content: space-evenly;
    background-color: $textColor7;
       
}

.container-general{
    margin-left: 1%;
    margin-right: 0%;
    background-color: #FFF;
    width: 21vw; 
   
}

.img-news{ 
    display: inline-block;
    width: 21.5vw;
    height: 42vh;
    margin-top: -187px;
    padding-right: 0%;
    margin-left: -5px;
    justify-content: space-between;
    
}

.content-news-description{
    font-size: 0.8rem;
    line-height: 21pt;
    text-align: left;
    width: 18vw;
    margin-left: 2%;

}

.content-news{
    text-align: left;
    margin-left: 2%;
    font-size: 1.7em;
    width: 100%;
    font-weight: 500;
    line-height: 27pt;

}

.box-text-news{
    width: 21.3vw;
    text-align: left;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: $textColor1; 
}*/
