@import "../Variables.scss";

.principal-container-ourGoal {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //margin-top: 6%;
}
.containerOurGoalInf {
  width: 100vw;
  height: 60vh;
  margin-top: 13vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16%;
}

.containerBoxOurGoalInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  //margin-left: 5vw;
  width: 10vw;
}

.boxContainerOurGoalInf {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  width: 7.5vw;
  height: 60vh;
  text-align: center;
  //margin-block-end: 10.45rem;
  position: relative;
  align-items: center;
}
.boxContainerOurGoalInf ul {
  margin-top: 3vw;
}
.containerIcon-ourGoalInf {
  //padding-bottom: 51%;
  margin-bottom: 16%;
  //margin-left: 4vw;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  //margin-top: 60%;
  //font-size: xx-large;
  background: linear-gradient(
    180deg,
    #fcc3ad 17.76%,
    rgba(239, 203, 190, 0) 93.8%
  );
}

.title-text-OurGoalInf {
  font-size: 1.5rem;
  color: $textColor;
}

.content-text-ourGoalInf {
  font-size: 0.8rem;
  line-height: 2;
  color: $textColor3;
}

.iconOurGoal {
  margin-top: 66%;
  font-size: x-large;
  color: $textColor3;
}
.text-img-ourGoal {
  position: absolute;
  z-index: 3;
  width: 46vw;
  padding-top: 10%;
  color: $textColor3;
}

.title-img-ourGoal {
  position: absolute;
  z-index: 2;
  width: 100vw;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 3%;
  color: $textColor3;
}

.text-container1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 94vh;
  position: absolute;
  z-index: 1;
  align-items: center;
}
.container-img-ourGoal1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 117vh;
}

.text-help {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100vw;
  color: $textColor3;
  padding: 4%;
}
.principal-img-ourGoal {
  width: 100%;
  max-height: 117vh;
}
