@import "../Variables.scss";
.principal-container-ourTeam {
  margin-top: 7%;
}

.container-img-ourTeam {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.linksToHome {
  position: absolute;
  padding: 6%;
  z-index: 1;
}
.principal-img-ourTeam {
  width: 100%;
  max-height: 1039px;
}

.principal-text-ourTeam {
  font-size: 3.5rem;
  color: $textColor3;
  position: absolute;
  align-self: center;
  padding-bottom: 10%;
}
.icon-gift {
  position: absolute;
  font-size: 50px;
  align-self: center;
  padding-top: 25%;
}
