@import "../Variables.scss";

.BoxContainerRRSS-footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: -11%;
}

.containerRRSS-Footer{
    font-size: 2rem;
    padding: 4pt;
}
