@import '../Variables.scss'; 

.slider{
width: 100vw;
max-height: 958px;

margin-left: 0;
margin-right: 0;
margin-bottom: 8vh;
padding: 0;
display: flex;
align-items: center;
position: relative;
overflow: hidden;
}

.slide{
    min-width:100%;
    max-height: 80%;
    transition: 0.5s;
}

%btn-Styles{
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    width: 5vw;
    height: 8vh;
    background: none;
    background-color: rgba($color: #ffac8f, $alpha: 0.4);
<<<<<<< HEAD:src/Styles/Slider.scss
  
=======
>>>>>>> b6a3662e5f8afb7ec26bda9f2b3bfd841baeda50:src/assets/styles/components/Slider.scss
}

#goLeft{
    left:0;
    @extend %btn-Styles;
}

#goRight{
    right:0;
    @extend %btn-Styles;
}
.carousel-caption{
    justify-content: center;
    width: 100%; 
    align-items: center;
}
h1{
    color: black;
    font-size: 100px;
}