@import '../Variables.scss'; 
@import "~bootstrap/scss/bootstrap";

.container-sliderPartners{
    width: 100%;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
    position: absolute;
  
}
.slidePartners{
    width: 33.3vw;
  flex-direction: row;
}

