@import "../Variables.scss";

.title-description-actionLines {
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 481px;
  background-color: $textColor3;
  padding-top: 8%;
  margin-top: 50px;
}
.title-actionLines {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 72px;
  color: $textColor1;
  width: 100%;
}

.content-text-actionLines {
  width: 57%;
  height: 12vh;
  text-align: center;
  font-weight: 100;
  margin-left: 23%;
  margin-right: 19%;
  font-size: 1.5rem;
  line-height: 32pt;
  padding-bottom: 6%;
  color: $textColor1;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .title-actionLines {
    font-size: 1.5rem;
  }
  .content-text-actionLines {
    width: 70%;
    text-align: center;
    font-weight: 100;
    margin-left: 16%;
    margin-right: 19%;
    font-size: 1rem;
    line-height: 20pt;
    color: #ffffff;
  }
  .title-description-actionLines {
    padding-top: 28%;
  }
}
