@import "../Variables.scss";

.title-description-news3 {
  width: 100%;
  background-color: $textColor7;
  padding-top: 2vh;
  height: 68vh;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-news3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 72px;
  color: $textColor1;
  width: 100%;
  padding-top: 8vh;
}

.content-text-news3 {
  width: 57%;
  height: 12vh;
  text-align: center;
  font-weight: 100;
  margin-left: 23%;
  margin-right: 19%;
  font-size: 1.5rem;
  line-height: 32pt;
  color: $textColor1;
  font-family: "Montserrat", sans-serif;
}

.link-3 {
  color: $textColor5;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .title-news {
    font-size: 2.5rem;
  }
  .content-text-news {
    width: 70%;
    text-align: center;
    font-weight: 100;
    margin-left: 16%;
    margin-right: 19%;
    font-size: 1rem;
    line-height: 20pt;
  }
  .title-text-news3 {
    font-size: 0.8rem;
    margin-left: 2%;
    font-weight: 700;
    width: 67vw;
    padding: 4%;
  }
  .content-text-news3 {
    width: 57vw;
    font-weight: 100;
    margin-left: -14%;
    font-size: 0.8rem;
    padding-bottom: 12%;
    //margin-bottom: 9%;
    margin-top: -7%;
    margin-left: 4%;
  }
  .content-text-news3 {
    width: 58vw;
    font-weight: 100;
    margin-left: -14%;
    font-size: 0.8rem;
    padding-bottom: 10%;
    //margin-bottom: 9%;
    margin-top: -7%;
    margin-left: 4%;
  }
  .title-description-news3 {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 82vh;
    background-color: $textColor1;
    padding-top: 13%;
    height: 327vh;
    height: 370vh;
  }
}
