@import '../../../Variables.scss';

// boton donar
.btnDonate1{
   text-decoration: none;
   color: $textColor3;
   background:$textColor5;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
   width: 145px;
   height: 50px; 
   
   font-weight: 700;
border-radius: 5px;
   overflow: hidden;
   border-style: none;


}

// .containerBtnDonate{
// }