@import '../../../Variables.scss';


.boxContainerRRSSresp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    margin-top: 17px;
    margin-left: 47px;
    
}


.containerRRSSresp {
        //margin-top: 2vh;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
