@import '../../../Variables.scss';


.ContainerRRSSresp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 17px;
    
}


    .containerRRSSresp {
        //margin-top: 2vh;
        font-size: 1.5rem;
        margin-left: 130px;
        margin-bottom: 20px;
    }
    
