@import 'Variables.scss';

// estilos Navbar  
.container-nav {
    display: inline-flex;
    justify-content: space-between;
}

.container-logo{

}

.imgLogo {
    width:90%; 
}

.containerRRSS {
    margin-left: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 1.25rem;

}

