@import "Variables.scss";
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

// estilos Navbar
nav {
  width: 100vw;
  height: 9vh;
  position: fixed;
  z-index: 5;
  background-color: $textColor3;
  top: 0;
}
.container-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 88.58vw;
  height: 9vh;
  background-color: $textColor3;
  margin-left: 4.1em;
  margin-right: 4.1em;
}
// estilos link navbar

.navBar {
  margin-top: 2vh;
  font-size: 0.8rem;
  display: flex;
  width: 70vw;
  color: $textColor1;
  margin-left: 3vw;
}

.linkMenu {
  text-decoration: none;
  color: $textColor1;
  margin-top: 20px;
  margin-left: 5vw;
}

// estilo logo
.container-logo {
  width: 4.3vw;
  margin-top: 1.7vh;
  margin-left: 3vh;
}

.imgLogo {
  width: 100%;
}

// estilos RRss
.boxContainerRRSS {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  margin-right: 50px;
  margin-left: 4vw;
}
.containerRRSS {
  //margin-top: 2vh;
  font-size: 1.5rem;
  margin-left: 10px;
}

// boton donar
.btnDonate {
  text-decoration: none;
  color: $textColor3;
  font-size: 0.9em;
}

.containerBtnDonate {
  width: 145px;
  height: 32px;
  background-color: $firstColor;
  color: $textColor3;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  padding-top: 8px;
}
