@import 'Variables.scss';
*{
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif; 
   
}


// estilos Navbar 
nav{
    width: 100%;
    height: 10vh;
   
    position: fixed;
    z-index: 5;
    background-color:$textColor3;
    top: 0

}
.container-nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color:$textColor3;
    
    
  
}
// estilos link navbar

.navBar{
    margin-top: 20px;
    font-size:2rem;
    display: flex;
    //justify-content: space-between;
    width: 70vw;


}
.linkMenu{
    text-decoration: none;
    color: $textColor;
    margin-top: 20px;
    margin-left: 5vw;
}
 
// estilo logo
.container-logo{
    width:5vw;
    margin-top: 5px;
    margin-left: 20px;
}
.imgLogo {
    width:100%; 
    margin-left: 10px;
}


// estilos RRss
.boxContainerRRSS{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 50px;
    margin-right: 50px;
margin-left: 15px;
}
.containerRRSS {
    //margin-top: 2vh;
    
    font-size: 3rem;
    margin-left: 10px;

}
// boton donar
.btnDonate{
   text-decoration: none;
   color: $textColor3;
   font-size: 2rem;
   margin-left: 30px;

}
.containerBtnDonate{
width: 300px;
height: 60px;
background-color: $firstColor;
color: $textColor3;
font-weight: bold;
padding-top: 20px;
border-radius: 5px;
margin-right: 5vw;
margin-top: 20px;

}
#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
}
