@import '../../../assets/styles/Variables.scss';


.backDropPay{
    position: fixed;
    width: 100vw;
     height:100vh ;
   
    

     
    top:0;
    left: 0;
    right: 0;
    right: 0;
    background:transparent  ;
    z-index: 199;
    // width: 250px;
    // height: 0px;
    // border-right: 60px solid transparent;
    // border-left: 60px solid transparent;
    // border-bottom: 100px solid #428bca;
}