@import './Variables.scss';
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap); 
@import "~bootstrap/scss/bootstrap";



*{
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif; 



   
}


body{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 300px)
{
 .main-footer {
  background-color: $textColor1;
  color: $textColor3;
  padding-top: 3rem;
  position: relative;
  bottom: 0;
  width: 100%;

  height: 66vh;
}   
}