@import '../../assets/styles/Variables.scss'; 

.containerDetails{
    width: 100vw;
    height: 813px;
    margin-top: 8vh;
    position: absolute;
    display: flex;
    flex-direction: column;
  
}
.ContainerText{
    width: 100vw;

    /* Body H4 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 36px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #FF8150;  
    margin-top: 3vh;
    margin-bottom: 10vh;  
}


.containerBoxDetails{
    width: 75.76vw;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 12vw;
}

.boxContainerDetail {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 18.5vw;
    height: 42.8vh;
    text-align: center;
    //margin-block-end: 10.45rem;
    position: relative;
  
}
.containerText {
    text-align: center;
    width: 100vw;
 
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: $textColor1;
    //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
.boxContainerDetail ul {
   margin-top: 3vw;
  
}
.container1 {
    margin-left: 2vw;
    width: 7.36vw;
    height: 7.36vw;
    text-align: center;
    /* Body H4 */
    font-family: Montserrat;
    line-height: 2.76vw;
/* identical to box height, or 150% */
    letter-spacing: -0.015em;
    border-radius: 50%;
    background: linear-gradient(180deg, #FCC3AD 17.76%, rgba(239, 203, 190, 0) 93.8%);
}

.imgDetail {
    width: 50%;
    height: 50%;
    margin-top: 3.35rem;
    margin-bottom: 2vw;
}
  
