
.boxContainerDetail {
    display:inline-block;
    //justify-content: space-between;
    //width: 3.35rem;
    height: 3.35rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-block-end: 10.45rem;
    margin-top: 3.35rem;
    position: relative;
    top: 12.3rem;
}

.container1{
    width: 6rem;
    height: 6rem;
    left: 67.62rem;
    top: 87.31rem;
    text-align:center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FCC3AD 17.76%, rgba(239, 203, 190, 0) 93.8%);
}

.imgDetail {
    width: 50%;
    height: 50%;
    margin-top: 3.35rem;
    margin-block-end: 1,7rem;   
}