@import './Variables.scss';
//box de  textos  
.containerGoals{
    margin-top: 38.177vw;
    position: absolute;
    width: 100vw;
    height: 50.843vw;
    display: inline-flex;
    flex-direction: row;
    background: url(../static/Pics/goals.jpg);
    overflow: hidden;
    background-size: cover;
}
// textos
.containerBoxGoals{
    width: 580px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 140%;
}
.containerBoxGoals h5{
    font-style: normal;
    font-weight: 100;
    font-size: 2.6vw;
    line-height: 50px;   
    color: $textColor3;
}
.containerBoxGoals p{
    font-style: normal;
    //font-weight: 700;
    //line-height: 50px;   
    font-size: 3.5vw;
    color:$textColor3;

}
// .Goals{   
//     font-size: 36px;
//     line-height: 50px;    
//     letter-spacing: -0.015em;
//     color: #FFF8F8;
// }

.containerBoxGoals .styleGoals{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 24px;
    letter-spacing: -0.015em;
    color:$textColor1;
    margin-left: 4vw;
    margin-top: 2vh;
 }