.containerGoals{
    margin-top: 38.177vw;
    position: absolute;
    width: 100vw;
    height: 50.843vw;
    display: inline-flex;
    flex-direction: row;
    background: url(../static/Pics/goals.png);
    overflow: hidden;
    background-size: cover;
}

.containerBoxGoals{
    width: 36.809vw;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.015em;
    font-size: 1.38vw;
    line-height: 1.84vw;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 180%;
    box-sizing: border-box;
}

.Goals{   
    font-size: 100.20vw;
    line-height: 15.834vw;    
    letter-spacing: -0.015em;
    color: #FFF8F8;
}

.styleGoals{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.38vw;
    line-height: 1.84vw;
    letter-spacing: -0.015em;
    color: #333333;
}