@import "../../assets/styles/Variables.scss";

.containerText {
  display: inline-flex;
  text-align: center;
  position: absolute;
  width: 100vw;
  margin-top: 3vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2.76vw;
  text-align: center;
  color: $textColor1;
  //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
