@import '../../assets/styles/Variables.scss'; 

.ContainerText{
    width: 100vw;
<<<<<<< HEAD
   
=======
>>>>>>> 0049850addb8ab2afb88f57bda004e1652a09e39
    margin-bottom: 7vh;
    /* Body H4 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
<<<<<<< HEAD
    font-size: 1.84vw;
    line-height: 2.76vw;
/* identical to box height, or 150% */
=======
    font-size: 1.6vw;
    line-height: 36px;
    /* identical to box height, or 150% */
>>>>>>> 0049850addb8ab2afb88f57bda004e1652a09e39
    text-align: center;
    letter-spacing: -0.015em;
    color: #FF8150;    
}