$firstColor: #FF5920;
$secondColor:#00DBD3;
$thirdColor:#9B51E0;
$fourthColor:#6AEE67;
$textColor: #828282;
$textColor1:#333333;
$textColor2:#F2C94C;
$textColor3:#FFFFFF;
$textColor4:#FFA14D; 
$textColor5:#FF8150; 
$textColor6: #4F4F4F; 
$textColor7: #F2F2F2; 

